@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
.login {
    color: rgb(107, 138, 241) !important
}
.crid {
    background-color: rgb(255, 255, 255) !important;
    border: 2px solid  rgb(107, 138, 241) !important;
    color:  rgb(107, 138, 241) !important;
}
.reg {
    margin-left: 1% !important;
}
.bc-blue {
    background-color: rgb(107, 138, 241) !important;
}
@media (max-width: 770px) {
    #register-form {
        margin-top: 27% !important;
    }
}
strong, label, .crid, p, .form-control, .num {
    font-family: "Nunito Sans" !important;
    font-weight: 600 !important;
}
  span.msg,
  span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
  }
  .con-select {
    width: 100%;
    margin: 50px auto 0;
    text-align: center;
    margin-top: 16%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
  .drop-select {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
  }
  .drop-select .select {
      cursor: pointer;
      display: block;
      padding: 10px
  }
  .drop-select .select > i {
      font-size: 13px;
      color: rgb(90, 87, 87);
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .drop-select:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  .drop-select:active {
      background-color: #f8f8f8
  }
  .drop-select.active:hover,
  .drop-select.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-radius: 2px 2px 0 0;
      background-color: #f8f8f8
  }
  .drop-select.active .select > i {
      transform: rotate(180deg)
  }
  .drop-select .drop-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 2px 2px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .drop-select .drop-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer;
      font-size: 15px;
  } 
  .drop-select .drop-menu {
      padding: 0;
      list-style: none
  }
  .drop-select .drop-menu li:hover {
      background-color: #f2f2f2
  }
  .drop-select .drop-menu li:active {
      background-color: #e2e2e2
  }
   .op-gray {
    color: #757575;
    font-size: 16px !important;
}
#register-form {
    margin-top: 5% !important;
}
.fa-exclamation-triangle {
    color: red !important;
    margin-right: 2%;
}
.track {
    font-size: 22px;
    font-family: "Josefin Sans", sans-serif;
    color: black !important;
}
